<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.islamic.khatmah">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Khatmah">

        <service
            android:name=".services.RemovingCardService"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name=".services.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.DownloadJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".AlarmBrodCasts.NotificationReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".AlarmBrodCasts.RemoveFinishDailyPortionBCR"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.NotificationService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".AlarmBrodCasts.OnRebootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="true"
            android:label="@string/action_settings" />

        <service
            android:name=".services.DownloadIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".daily_portion.DailyPortionActivity"
            android:exported="true"
            android:theme="@style/Theme.Khatmah.NoActionBar" />
        <activity
            android:name=".ui.first_start.StartActivity"
            android:exported="true"
            android:theme="@style/Theme.Khatmah.NoActionBar" />
        <activity
            android:name=".ui.first_start.AlertActivity"
            android:exported="true"
            android:theme="@style/Theme.Khatmah.NoActionBar" />
        <activity
            android:name=".quran_activity.QuranActivity"
            android:exported="true"
            android:theme="@style/Theme.Khatmah.NoActionBar" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Khatmah.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmBrodCasts.BroadcastReminder"
            android:enabled="true" />
    </application>

</manifest>